.distill-site-nav {
  color: #e7f1f1;
  background-color: #112D32; 
  font-size: 15px;
  font-weight: 300;
}

code {
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 2px;
  padding: 4px 7px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}

